@model REW_TATTOO_KORAT.Models.Tattoo_Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tattoo_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Type_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
